
/* Performance optimizations */
svg {
    will-change: transform;
    contain: layout style paint;
}

.drawarea {
    will-change: transform;
    transform: translateZ(0);
}

.node {
    stroke: #ffffff;
    stroke-width: 1.5px;
    cursor: pointer;
    will-change: opacity, transform;
    contain: layout;
  }
  
.link {
    /*stroke: #999;*/
    opacity: 0.5;
    /*fill: none;*/
    stroke: #666;
    stroke-width: 1.5px;
    display: none;
    will-change: opacity;
    contain: layout;
  }
  
    
.hidden {
    /*transition-duration: 3000ms;*/
    display: none;
  }

  
input {
    width: 20px;    
    position: relative;
    left: 10px;
    vertical-align: middle;
  }

.chkbox_frame label {
  
  font-family: 'Arial';
  font-weight: normal;
  font-size: 11px;
  position: relative;
  left: 4px;
  display: inline-block;
  vertical-align: middle;

  }

.edgelabel {

  opacity: 0;
  will-change: opacity;
  contain: layout;

  }

a:link {
      color: #0000fe;
  }
  
a:visited {
      color: #0000fe
  }
  
h2 {
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
  font-weight: normal;
    
  }

#main_title {

  font-family: 'Arial';
  font-weight: bold;
  font-size: 18px;
  padding-left: 155px;  

  }

#sub_title {

    font-family: 'Arial';
    font-style: normal;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 250px;
    
  
    }


.frame_legend {
    
  padding-top: 5px;
  margin-left: 510px;
  margin-top: 0px;    

  }


.dot1 {

  height: 16px;
  width: 16px;
  margin-left: 25px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 6px;
  background-color: #C40233;
  border-radius: 50%;
  display: inline-block;
  
}

.dot2 {

  height: 16px;
  width: 16px;
  margin-left: 80px;
  margin-right: 5px;
  margin-bottom: 6px;
  margin-top: 20px;
  background-color: #5B9BD5;
  border-radius: 50%;
  display: inline-block;

}

.dot3 {

  height: 16px;
  width: 16px;
  margin-left: 85px;
  margin-bottom: 6px;
  margin-top: 20px;
  background-color: #1F4E79;
  border-radius: 50%;
  display: inline-block;

}

.dot4 {

  height: 16px;
  width: 16px;
  margin-left: 180px;
  margin-right: 30px;
  margin-bottom: 6px;
  margin-top: 20px;
  background-color: #9DC3E6;
  border-radius: 50%;
  display: inline-block;

}

.dot5 {

  height: 16px;
  width: 16px;
  margin-left: 95px;
  margin-right: 30px;
  margin-bottom: 6px;
  margin-top: 20px;
  background-color: #FF8E1D;
  border-radius: 50%;
  display: inline-block;

}


.dot6 {

  height: 16px;
  width: 16px;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: 6px;
  margin-top: 20px;
  background-color: #FFEB3B;
  border-radius: 50%;
  display: inline-block;

}

.t1 {

  margin-top: 2px;  
  margin-left: 20px;
  margin-right: 5px;
  font-size: 11px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 200px;

}

.t2 {

  margin-top: 2px;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 11px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 100px;

}

.t3 {

  margin-top: 2px;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 11px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 100px;

}

.t4 {

  margin-top: 2px;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 11px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 100px;

}

.t5 {

  margin-top: 2px;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 11px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 100px;

}

.t6 {

  margin-top: 2px;
  margin-left: 20px;
  margin-right: 5px;
  font-size: 11px;
  font-family: "Helvetica";
  vertical-align: middle;
  width: 120px;

}



.logo a {color: black;}

.logo {

 width: 1000px;
  height: 65px;
    /* Center vertically */
    /*position: absolute;*/
  margin-top: -33px;
  margin-left: 8px;
    /*transform: translate(50px, 50px);*/
        
    /*object-position: center top;*/
  transform: rotate(0deg);
  text-align: center;
  font-family: 'Helvetica';
  font-size: 11px;
    
  display: flex;
  justify-content:center;
  align-items: center;

  }

img {
  
  display: flex;
    
  /*padding-left: 90px;*/
    
  }

.logo a {

    padding-left: 3px;     

  }

aside {

    width: 320px; /*was: 20%*/
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 30px;
    float: left;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    text-align: justify;

}

ul {

  list-style-position:outside;
  list-style-type:disc;
  margin-left: -25px;

}

.chkbox_frame {

  padding-top: 4px;
  margin-left: 6px;
  margin-top: 0px; 

}

.rdobtn_frame {

  padding-top: 5px;
  margin-left: -10px;
  margin-top: 0px; 

}

.rdobtn_frame label {

  /*https://stackoverflow.com/questions/9815328/vertically-aligning-a-checkbox*/
  font-family: 'Arial';
  font-weight: normal;
  font-size: 11px;
  position: relative;
  top: 1px;
  left: 4px;
  display: inline-block;
  vertical-align: middle;    

  }


ul li { padding: 2px 0px; }

.body {
  overflow-x:hidden;
  overflow-y:hidden;
}